.cardcontainer {
    height: 80px;
    width: 250px;
    padding: 30px;
    background-color: #ffffff5a;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}

.heading-card {
    font-size: 25px;
    margin-left: 20px;
    margin-top: -2px;
}

.card-img {
    height: 80px;
}

.card-report {
    font-size: 30px;
    margin-left: 20px;
    color: white;
}
